{% extends "navbar.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h2 class="text-center"><span class="header">직원 정보 수정</span></h2>

<div class="container">
    <form method="POST">
        {% csrf_token %}
        <!-- <p>이름 : {{ form.username}}</p>
        <p>성별 : {{ form.sex }}</p>
        <p>생년월일 :  {{ form.birth }}</p>
        <p> 휴대폰 : {{ form.phone_num}}</p>
        <p>이메일 : {{ form.email }}</p>
        {{ form.password }}
        <p>팀 : {{ form.groups }}</p>
        <p>팀장 여부 : {{ form.teamleader }}</p>
        <p>기본급 : {{ form.basic_salary}}</p>
        <p>필라테스 GX정책 : {{form.Pilates_GX}} , 필라테스 PT정책 : {{ form.Pilates_PT }}</p> -->
        {{form |crispy}}

        <button class="btn btn-info" type="submit">수정</button>
        <input type=button value="취소" class="btn btn-default" onClick="javascript:history.go(-1);"> <!-- 전 페이지로 가기-->
        <hr/>
    </form>

</div>
{% endblock %}