{% extends "fitness/navbar.html" %}
{% block content %}
<div class="PT_Register col-xs-8 col-xs-offset-2">
<h3 class="text-center">개인 트레이닝 계약서</h3>
<form action="" method="POST">
{% csrf_token %}
<table class='table'>
<tbody>
    <tr>
        <td>성명</td>
        <td>{{member.name}}</td>
    </tr>
    <tr>
        <td>생년월일</td>
        <td>{{member.birth}}</td>
    </tr>
    <tr>
        <td>등록세션</td>
        <td>
            <select name="registered_session" class="select form-control" id="registered_session" required>
            <option value="10">10세션</option>
            <option value="20">20세션</option>
            <option value="30">30세션</option>
            <option value="40">40세션</option>
            <option value="50">50세션</option>
            <option value="100">100세션</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>PT결제금액</td>
        <td><input type="text" name="PT_payment_amount" class="numberinput form-control" id="PT_payment_amount" required></td>
    </tr>
    <tr>
        <td>PT결제방식</td>
        <td> <select name="PT_payment_method" class="select form-control" id="PT_payment_method">
            <option value="카드">카드</option>
            <option value="현금">현금</option>
            </select></td>
    </tr>
    <tr>
        <td>1회세션단가</td>
        <td><input type="text" name="unitprice" class="numberinput my-control" id="unitprice"}></td>
    </tr>
    <tr>
        <td>강습기간</td>
        <td>
            <select name="period_PT" class="select form-control" id="period_PT">
            <option value="">---------</option>
            <option value="d40">40일</option>
            <option value="d80">80일</option>
            <option value="d120">120일</option>
            <option value="d150">150일</option>
            <option value="d180">180일</option>
            <option value="d365">1년</option>
            </select>
        </td>
    </tr>
</tbody>
</table>
<div class="member_rule">
<table class="table">
    <thead>
        <h3 class="text-center"><span style="padding:2px; border-bottom:2px solid green; border-radius: 2px;">회원약관</span></h3>
    </thead>
    <tbody>
        <h4>개인 트레이닝 규정 -1</h4>
        <p>1. 개인 트레이닝 강습료는 환불되지 않으며 매니저 승인 하에 정지 1회(최대 2주)가 가능 합니다.</p>
        <p>2. 강습은 정해진 기간 안에 모두 마쳐야 하며, 정해진 기간 후에 남은 강습은 진행 되지 않습니다.</p>
        <p>3. 회원님께서는 강습을 받으실 때마다 서명을 하셔야 합니다.</p>
        <p>4. 예정된 트레이너가 강습을 할 수 없는 경우, 자격 있는 다른 트레이너로 대체 할 수 있습니다.</p>
        <p>5. 예약된 강습을 취소할 때는 반드시 24시간 전에 연락을 주셔야 하며, 정해진 강습 시간 20분 이내 지연 시 남은 강습 시간 진행하며 그 이상 지연시 1회 강습이 취소됩니다.</p>
        <p>6. 회원님의 부득이한 사정(증빙 서류 첨부에만 적용)으로 인하여 강습이 더 이상 진행이 되지 않을 시 건강과땀승인 하에 총 강습 금액의 10% 위약금과</p>
            <p>실시한 (강습 횟수  X  1회 세션 단가) 금액을 제외한 남은 강습 분과 기간의 50% 에 대하여 양도 1회가 가능하며 담당 직원과 건강과땀은 양도권에</p> <p>대하여 판매 또는 인수인계를 지켜야 할 책임은 없습니다.</p>

        <h4>개인 트레이닝 규정 -2</h4>
        <p>1. 회원님께서는 현재 운동을 할 수 있는 육체적, 정신적 상태에 있으며 개인 트레이닝을 받을 수 없는 의학적 이유나 질병을 가지고 있지 않음을</p>
        <p>밝히셨고 사실임을 인정 하셨습니다.  이에 담당직원이 회원님의 육체적, 정신적 상태와 능력에 대하여 어떠한 의학적 충고를 하지 않았고 그러한</p>
        <p>충고를 할수 없다는 것을 알고 있습니다. 회원님께서는 건강상 또는 의학적인 우려나 질문이 있으시면, 개인 트레이닝을 받기 전에 분명 전문의와 상담 하셔야 합니다.</p>
        <p>2. 건강과땀의 개인 트레이닝 강습을 받는 도중 회원님이나 그 외의 사람이 사고를 유발한 경우, 상해의 위험을 가지고 있습니다. 이러한 위험에 대하여</p>
           <p>회원님께서는 인지하시고 수락하시며, 회원님의 부주의 또는 다른 사람의 기타 행위로 인하여 개인의 신체 및 정시에 어떠한 형태로든 상해를 입거나</p>
            <p>경제적 손해를 보게 하더라도 센터의 책임이 없다는 사실을 인지하시며  동의하셨습니다.</p>

        <p><strong>본인은 위의 모든 사항에 대하여 숙지 하였으며  서명과  동시에  그 효력이  발생됨을  인정한다.</strong></p>

        <h3 style="float:right; margin:20px;"><input type="checkbox" id="agree" value="agree" style="width:20px;height:20px" required> 동의</h3>
    </tbody>

</table>
</div>
    <button type="submit" class="btn btn-success" style="float:right;margin:10px;" >PT등록</button>
</form>
</div>
{% endblock %}