{% extends "navbar.html" %}
{% block content %}


<script>

	$(document).ready(function() {
	    var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();

		/*  className colors

		className: default(transparent), important(red), chill(pink), success(green), info(blue)

		*/


		/* initialize the external events
		-----------------------------------------------------------------*/

		$('#external-events div.external-event').each(function() {

			// create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
			// it doesn't need to have a start or end
			var eventObject = {
				title: $.trim($(this).text()) // use the element's text as the event title
			};

			// store the Event Object in the DOM element so we can get to it later
			$(this).data('eventObject', eventObject);

			// make the event draggable using jQuery UI
			$(this).draggable({
				zIndex: 999,
				revert: true,      // will cause the event to go back to its
				revertDuration: 0  //  original position after the drag
			});

		});


		/* initialize the calendar
		-----------------------------------------------------------------*/

		var calendar =  $('#calendar').fullCalendar({
			header: {
				left: 'title',
				center: 'agendaDay,agendaWeek,month',
				right: 'prev,next today'
			},
			editable: true,
			firstDay: 1, //  1(Monday) this can be changed to 0(Sunday) for the USA system
			selectable: true,
			defaultView: 'month',

			axisFormat: 'h:mm',
			columnFormat: {
                month: 'ddd',    // Mon
                week: 'ddd d', // Mon 7
                day: 'dddd M/d',  // Monday 9/7
                agendaDay: 'dddd d'
            },
            titleFormat: {
                month: 'MMMM yyyy', // September 2009
                week: "MMMM yyyy", // September 2009
                day: 'MMMM yyyy'                  // Tuesday, Sep 8, 2009
            },
			allDaySlot: false,
			selectHelper: true,
			select: function(start, end, allDay) { //시간 선택시
				// var start = $(this).start;
				// alert(start);
				var title = prompt('Event Title:');
				if (title) {
					calendar.fullCalendar('renderEvent',
						{
							title: title,
							start: start,
							end: end,
							allDay: allDay
						},

						true // make the event "stick"

					);
				}

				calendar.fullCalendar('unselect');
				var allData = {'csrfmiddlewaretoken': '{{ csrf_token }}', "title":title, "start":start, "end":end };
		        $.ajax({
		            url: "{% url 'schedule_add' %}", // 통신할 url을 지정한다.
		            type: "POST",
		            data: allData, // 서버로 데이터를 전송할 때 이 옵션을 사용한다.
		            dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정한다. 없으면 알아서 판단한다.

		            success: function(response){
		            	alert("완료!");
		                // 요청이 성공했을 경우 좋아요/싫어요 개수 레이블 업데이트
		            },
		            error:function(error){
		                // 요청이 실패했을 경우
		                alert("실패다!");
		            }
		        });

			},


			droppable: true, // this allows things to be dropped onto the calendar !!!
			drop: function(date, allDay) { // this function is called when something is dropped

				// retrieve the dropped element's stored Event Object
				var originalEventObject = $(this).data('eventObject');

				// we need to copy it, so that multiple events don't have a reference to the same object
				var copiedEventObject = $.extend({}, originalEventObject);

				// assign it the date that was reported
				copiedEventObject.start = date;
				copiedEventObject.allDay = allDay;

				// render the event on the calendar
				// the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
				$('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

				// is the "remove after drop" checkbox checked?
				if ($('#drop-remove').is(':checked')) {
					// if so, remove the element from the "Draggable Events" list
					$(this).remove();
				}

			},

			events: [
				{
					title: 'All Day Event',
					start: new Date(y, m, 1)
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: new Date(y, m, d-3, 16, 0),
					allDay: false,
					className: 'info'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: new Date(y, m, d+4, 16, 0),
					allDay: false,
					className: 'info'
				},
				{
					title: 'Meeting',
					start: new Date(y, m, d, 10, 30),
					allDay: false,
					className: 'important'
				},
				{
					title: '지연이',
					start: new Date(2017, 06, 05, 1, 30),  //00 - 1월
					allDay: false,
					className: 'important'
				},
				{
					title: 'Lunch',
					start: new Date(y, m, d, 12, 0),
					end: new Date(y, m, d, 14, 0),
					allDay: false,
					className: 'important'
				},
				{
					title: 'Click for Google',
					start: new Date(y, m, 28),
					end: new Date(y, m, 29),
					url: 'http://google.com/',
					className: 'success'
				},
				{
					title: '오후3시!!',
					start: new Date(2017, 6, 6,15,00),
					allDay: false,
					className: 'success'
				},
				{% for schedule in schedules%}
					{
					title: '{{schedule.title}}',
					start: new Date({{schedule.get_year}},{{schedule.get_month}},{{schedule.get_day}},{{schedule.get_hour}}+9,{{schedule.get_minute}}),
					//db에있는게 9시간 느리게 넘어와서  hour +9해줘야 제대로 적용됨.
					allDay: false,sf
					className: 'success',
					data-url: "{% url 'schedule_delete' %}"ssf
					},
				{% endfor %}
			],
		});
	$('.fc-event-inner').click(function(){
        alert("ss");

    });

	});

</script>
<style>



	#wrap {
		width: 1100px;
		margin: 0 auto;
		}

	#external-events {
		float: left;
		width: 150px;
		padding: 0 10px;
		text-align: left;
		}

	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
		}

	.external-event { /* try to mimick the look of a real event */
		margin: 10px 0;
		padding: 2px 4px;
		background: #3366CC;
		color: #fff;
		font-size: .85em;
		cursor: pointer;
		}

	#external-events p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
		}

	#external-events p input {
		margin: 0;
		vertical-align: middle;
		}

	#calendar {
/* 		float: right; */
        margin: 0 auto;
		width: 900px;
		background-color: #FFFFFF;
		  border-radius: 6px;
        box-shadow: 0 1px 2px #C3C3C3;
		}


</style>
</head>
<body>
<div id='wrap' class="col-xs-8">

<div id='calendar'></div>

<div style='clear:both'></div>
</div>

<div class="text-center col-xs-3" style="border:1px solid black; float: right; margin-right: 30px;">
        <h4>My PT member</h4>
        {{PT_members.count}}명
        <div class="my_PTmember"  style="text-align: center;">
            {% for PT_member in PT_members %}
                <a id="{{PT_member.id}}" class="PT_member" style="display:inline-block; width:60%; float:left;"> <!-- href="{%url "PT_member_detail" PT_member.id %}" -->
                    <span name="PT_member_name">{{PT_member.name}}</span>
                    <p>{{PT_member.used_session}}/{{PT_member.registered_session}}</p>
                </a>
                <div style="display:inline-block; width:20%;float:left;">
                    <form method="GET" action="">
                    <a class="btn btn-default" href="{% url "PT_member_delete" PT_member.id %}">삭제</a>
                    </form>
                </div>
            {% endfor %}
        </div>
        <hr/>
      <p><a href="{% url 'PT_register' %}" class="btn btn-warning">추가</a></p>
    </div>
</body>

{% endblock %}