{% extends "navbar.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h2 class="text-center"><span class="header">회원 목록</span></h2>

<div class="container">

    <div  style="float:right;">
    <p>1 = 활성, 0 = 만료 or 등록안함,  2 = 환불 </p>
    </div>

    <div id="search" style="margin:0 auto;">
        <form id="search" method="GET" action="{% url 'member_search' %}">
            <input type="text" class="form-control search_web" placeholder="이름,휴대번호로 검색해보세요." name='q' value="{{ q }}" style="display:inline-block; width:70%">
            <button type="submit" class="btn btn-info" value="검색" >검색</button>
        </form>
    </div>



    <hr/>

    <table class="table text-center">
        <thead>
            <tr>
                <th><a class="order" href="?order_by=name">성명</a></th>
                <th><a class="order" href="?order_by=sex">성별</a></th>
                <th><a class="order" href="?order_by=birth">생년월일</a></th>
                <th><a class="order" href="?order_by=phone_num">휴대번호</a></th>
                <th><a class="order" href="?order_by=registered_date">등록일</a></th>
                <th><a class="order" href="?order_by=staff">담당자</a></th>
                <th><a class="order" href="?order_by=Membership_status">회원권 상태</a></th>
                <th><a class="order" href="?order_by=PT_status">PT(Fitness)</a></th>
                <th><a class="order" href="?order_by=Pil_status">PT(Pilates)</a></th>
                <th>등록 내역</th>
                <th>락카 추가</th>
            </tr>
        </thead>
        <tbody>
            {% load el_pagination_tags %}
            {% paginate 20 members %} <!-- 한페이지에 20개씩 표현 -->
            {% for m in members %}
            <tr>
                <td><a href="{% url "member_detail" m.id %}">{{ m.name}}</a></td>
                <td>{{ m.sex}}</td>
                <td>{{ m.birth}}</td>
                <td>{{ m.phone_num }}</td>
                <td>{{ m.start_date}}</td>
                <td>{{ m.staff }}</td>
                <td>{{ m.Membership_status }}</td>
                <td>{{ m.PT_status }}</td>
                <td>{{ m.Pil_status }}</td>
                <td><a href="{%url "member_history" m.id %}">등록 내역</a></td>
                <td><a href="{% url 'add_locker' m.id %}">락카 추가</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% get_pages %}
        <div class='text-center' style='font-size: 11pt'>
            <ul class='pagination'>
                {% if pages.paginated %}
                    <li>
                        {{ pages }}
                    </li>
                {% endif %}
            </ul>
        </div>
</div>

{% endblock %}