{% extends "navbar.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h2 class="text-center"><span class="header">회원 목록</span></h2>

<div class="container">
    <div id="search" style="margin:0 auto;">
        <form id="search" method="GET" action="{% url 'member_search' %}">
            <input type="text" class="form-control search_web" placeholder="이름,휴대번호로 검색해보세요." name='q' value="{{ q }}" style="display:inline-block; width:70%">
            <button type="submit" class="btn btn-info" value="검색" >검색</button>
        </form>
    </div>
    <hr/>

    <table class="table text-center">
        <tr>
            <th>성명</th>
            <th>성별</th>
            <th>생년월일</th>
            <th>휴대번호</th>
            <th>등록일</th>
            <th>담당자</th>
            <th>회원권 상태</th>
            <th>PT 상태</th>
        </tr>
        {% load el_pagination_tags %}
        {% paginate 20 members %} <!-- 한페이지에 20개씩 표현 -->
        {% for m in members %}
        <tr>
            <td><a href="{% url "member_detail" m.id %}">{{ m.name}}</a></td>
            <td>{{ m.sex}}</td>
            <td>{{ m.birth}}</td>
            <td>{{ m.phone_num }}</td>
            <td>{{ m.start_date}}</td>
            <td>{{ m.staff }}</td>
            <td>{{ m.Membership_status }}</td>
            <td>{{ m.PT_status }}</td>
        </tr>
        {% endfor %}
    </table>
    {% get_pages %}
        <div class='text-center' style='font-size: 11pt'>
            <ul class='pagination'>
                {% if pages.paginated %}
                    <li>
                        {{ pages }}
                    </li>
                {% endif %}
            </ul>
        </div>
</div>
{% endblock %}