<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css"/>

<link href='{% static "css/fullcalendar.css" %}' rel='stylesheet' />
<link href='{% static "css/fullcalendar.print.css" %}' rel='stylesheet' media='print' />


<!-- JS-->
<script src="http://code.jquery.com/jquery-latest.min.js"></script><!-- 1.11.1 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
<script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>


<!-- <script type="text/javascript" src="{% static 'js/jquery-1.10.2.js' %}"></script> -->
<script type="text/javascript" src="{% static 'js/fullcalendar.js'%}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <title>건강과 땀</title>
</head>
<body>
<!-- NAVIGATION BAR -->
<header>
<nav class="navbar st-navbar navbar-default">
    <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}" style="float: left; margin-top: -10px; margin-left: -150px;"><img src="/static/img/logo.png" alt="Logo" style="float: left;"></a>
    <ul class="nav nav-tabs navbar-right">
{% load user_tags %}
        {% if user.is_authenticated %}
        <li><a href="{% url 'authentication:logout' %}?next={% url 'home' %}">로그아웃</a></li>
            {% if request.user.is_superuser %}
            <li><a href="{% url 'management:member_management' %}">회원 관리</a></li>
            <li><a href="{% url 'management:schedule_management' %}">스케줄 관리</a></li>
            <li><a href="{% url 'management:commission_management' %}">커미션관리</a></li>
            <li><a href="{% url 'management:sales_management' %}">매출 관리</a></li>
            {% else %}
                {% if request.user|has_group:"FC" %}
                <li><a href="{% url 'register' %}">회원가입 폼</a></li>
                <li><a href="{% url 'mypage' %}">FC의 나의 페이지</a></li>
                {% else %}
                    {% if request.user|has_group:"Fitness" %}
                    <li><a href="{% url 'PT_mypage' %}">Fitness의 나의 페이지</a></li>
                    {% else %}
                    <li><a href="{% url 'Pilates_mypage' %}">Pilates의 나의 페이지</a></li>
                    {% endif %}

                <li><a href="{% url 'schedule' %}">스케줄 관리</a></li>
                {% endif %}
             {% endif %}
        {% else %}
        <li><a href="{% url 'authentication:login' %}">로그인</a></li>
        {% endif %}

    </ul>
    </div>
</nav> <!-- /Navigation bar -->
</header>

{% block content%}
{% endblock %}


<!-- FOOTER -->
<!-- <footer id="footer">
    <div class="copyright">
        <p>&copy; 2017 건강과 땀</p>
    </div>
</footer> -->
<!-- /FOOTER -->
</body>
</html>