{% extends "navbar.html" %}
{% load humanize %}
{% block content %}
<h2 class="text-center"><span class="header">{{user}}의 My page</span></h2>
<hr/>
<div class="col-xs-6 col-xs-offset-3">

<div class="btn btn-default">전체</div>
{{PT_members.count}}명

<div class="btn btn-default">오늘</div>
{{today_members.count}}명
<span>{{today_members_pay |intcomma}}원</span>

<div class="btn btn-default">이번주</div>
{{thisweek_members.count}}명
<span>{{thisweek_members_pay |intcomma}}원</span>

<div class="btn btn-default">이번달</div>
<span>{{thismonth_members.count}}명</span>
<span>{{thismonth_members_pay |intcomma}}원</span>

<hr>

<div style="display: inline;">
<a class="btn btn-warning">저번달 기본급</a>
<span>{{basic_salary |intcomma}}원</span>
</div>

{% if request.user.teamleader %}
<div class="btn btn-warning">저번달 커미션</div>
<span>{{ last_commission_rate }}%</span>
<span>{{ last_commission |intcomma }}원</span>
{% else %}
{% endif %}


<div class="btn btn-warning">저번달 GX 수업료</div>
<span>{{ lastmonth_GX_schedules }}번</span>
<span>{{ last_GX_commission |intcomma}}원</span>


<div class="btn btn-warning">저번달 PT 수업료</div>
{% if request.user.teamleader %}
<span>{{ lastmonth_PT_schedules }}명</span>
{% else %}
<span>{{ last_PT_commission_rate }}%</span>
{% endif %}
<span>{{ last_PT_commission |intcomma}}원</span>


<div class="btn btn-warning">저번달 총합계</div>
<span>{{ last_salary |intcomma}}원</span>

<hr>

<div class="btn btn-danger">이번달 기본급</div>
<span>{{ basic_salary |intcomma}}원</span>


{% if request.user.teamleader %}
<div class="btn btn-danger">이번달 커미션</div>
<span>{{this_commission_rate}}%</span>
<span>{{this_commission |intcomma}}원</span>
{% else %}
{% endif %}


<div class="btn btn-danger">이번달 GX 수업료</div>
<span>{{ thismonth_GX_schedules }}번</span>
<span>{{ this_GX_commission |intcomma}}원</span>

<div class="btn btn-danger">이번달 PT 수업료</div>
{% if request.user.teamleader %}
    <span>{{ thismonth_PT_schedules }}명</span>
{% else %}
    <span>{{ this_PT_commission_rate }}%</span>
{% endif %}
<span>{{ this_PT_commission |intcomma}}원</span>

<div class="btn btn-danger">이번달 총합계</div>
<span>{{ this_salary |intcomma }}원</span>

</div>
{% endblock %}