{% extends "navbar.html" %}
{% load user_tags %}
{% block content %}
<div class="schedule">
    <h2 class="text-center"><span class="header">{{user}}의 스케줄 관리</span></h2>
    <hr/>


   <script>


    $(document).ready(function() {

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        /*  className colors

        className: default(transparent), important(red), chill(pink), success(green), info(blue)

        */


        /* initialize the external events
        -----------------------------------------------------------------*/

        $('#external-events div.external-event').each(function() {

            // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
            // it doesn't need to have a start or end
            var eventObject = {
                title: $.trim($(this).text()) // use the element's text as the event title
            };

            // store the Event Object in the DOM element so we can get to it later
            $(this).data('eventObject', eventObject);

            // make the event draggable using jQuery UI
            $(this).draggable({
                zIndex: 999,
                revert: true,      // will cause the event to go back to its
                revertDuration: 0  //  original position after the drag
            });

        });


        /* initialize the calendar
        -----------------------------------------------------------------*/

        var calendar =  $('#calendar').fullCalendar({
            header: {
                left: 'title',
                center: 'agendaDay,agendaWeek,month',
                right: 'prev,next today'
            },
            editable: true,
            firstDay: 1, //  1(Monday) this can be changed to 0(Sunday) for the USA system
            selectable: true,
            defaultView: 'month',

            axisFormat: 'h:mm',
            columnFormat: {
                month: 'ddd',    // Mon
                week: 'ddd d', // Mon 7
                day: 'dddd M/d',  // Monday 9/7
                agendaDay: 'dddd d'
            },
            titleFormat: {
                month: 'MMMM yyyy', // September 2009
                week: "MMMM yyyy", // September 2009
                day: 'MMMM yyyy'                  // Tuesday, Sep 8, 2009
            },
            allDaySlot: false,
            selectHelper: true,
            select: function(start, end, allDay) { //시간 선택시
                $('.PT_member').unbind("click").bind("click", function(){
                // var title = prompt('Event Title:');
                    title = $(this).children('span').text();
                    id = $(this).attr('id');
                    if (title) {
                        calendar.fullCalendar('renderEvent',
                            {
                                title: title,
                                start: start,
                                end: end,
                                allDay: allDay
                            },

                            true // make the event "stick"

                        );
                    }

                calendar.fullCalendar('unselect');
                var allData = {'csrfmiddlewaretoken': '{{ csrf_token }}', "title":title, "start":start, "end":end, "id":id};
                $.ajax({
                    url: "{% url 'schedule_add' %}", // 통신할 url을 지정한다.
                    type: "POST",
                    data: allData, // 서버로 데이터를 전송할 때 이 옵션을 사용한다.
                    dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정한다. 없으면 알아서 판단한다.

                    success: function(response){
                        alert("스케줄 등록 완료");
                        $('#used_session'+id).html(response.used_session);
                        // 요청이 성공했을 경우 사용된 세션 +1
                    },
                    error:function(error){
                        // 요청이 실패했을 경우
                        alert("등록 실패");
                    }
                });
                this.click=null;
            }); //click 종료시

            $('.SV').unbind("click").bind("click", function(){ //S/V 버튼 클릭시
                    title = $(this).attr('name');
                    id = $(this).attr('id');
                    if (title) {
                        calendar.fullCalendar('renderEvent',
                            {
                                title: title,
                                start: start,
                                end: end,
                                allDay: allDay
                            },

                            true // make the event "stick"

                        );
                    }

                calendar.fullCalendar('unselect');
                var allData = {'csrfmiddlewaretoken': '{{ csrf_token }}', "title":title, "start":start, "end":end, "id":id, };
                $.ajax({
                    url: "{% url 'schedule_add' %}", // 통신할 url을 지정한다.
                    type: "POST",
                    data: allData, // 서버로 데이터를 전송할 때 이 옵션을 사용한다.
                    dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정한다. 없으면 알아서 판단한다.

                    success: function(response){
                        alert("스케줄 등록 완료");
                        $('#used_session'+id).html(response.used_session);
                        // 요청이 성공했을 경우 사용된 세션 +1
                    },
                    error:function(error){
                        // 요청이 실패했을 경우
                        alert("등록 실패");
                    }
                });

            }); //S/V버튼클릭 종료


           $('.GX').unbind("click").bind("click", function(){ //GX 버튼 클릭시
                    number = prompt('몇명입니까?');
                    title = "GX"
                    if (title) {
                        calendar.fullCalendar('renderEvent',
                            {
                                title: title,
                                start: start,
                                end: end,
                                allDay: allDay
                            },

                            true // make the event "stick"

                        );
                    }

                calendar.fullCalendar('unselect');
                var allData = {'csrfmiddlewaretoken': '{{ csrf_token }}', "title":title, "start":start, "end":end, "number":number, };
                $.ajax({
                    url: "{% url 'schedule_add' %}", // 통신할 url을 지정한다.
                    type: "POST",
                    data: allData, // 서버로 데이터를 전송할 때 이 옵션을 사용한다.
                    dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정한다. 없으면 알아서 판단한다.

                    success: function(response){
                        alert("스케줄 등록 완료");
                    },
                    error:function(error){
                        // 요청이 실패했을 경우
                        alert("등록 실패");
                    }
                });

            }); //GX버튼클릭 종료

           $('.OT').unbind("click").bind("click", function(){
                // jQuery.noConflict();
                // $('#myModal').modal('show');
                title = $(this).attr('name');
                id = $(this).attr('id');
                if (title) {
                    calendar.fullCalendar('renderEvent',
                        {
                            title: title,
                            start: start,
                            end: end,
                            allDay: allDay
                        },

                        true // make the event "stick"

                    );
                }

                calendar.fullCalendar('unselect');
                var allData = {'csrfmiddlewaretoken': '{{ csrf_token }}', "title":title, "start":start, "end":end, "id":id, };
                $.ajax({
                    url: "{% url 'OT_schedule_add' %}", // 통신할 url을 지정한다.
                    type: "POST",
                    data: allData, // 서버로 데이터를 전송할 때 이 옵션을 사용한다.
                    dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정한다. 없으면 알아서 판단한다.

                    success: function(response){
                        alert("스케줄 등록 완료");
                    },
                    error:function(error){
                        // 요청이 실패했을 경우
                        alert("등록 실패");
                    }
                });

           }); //GX버튼 끝
        },


            droppable: true, // this allows things to be dropped onto the calendar !!!
            drop: function(date, allDay) { // this function is called when something is dropped

                // retrieve the dropped element's stored Event Object
                var originalEventObject = $(this).data('eventObject');

                // we need to copy it, so that multiple events don't have a reference to the same object
                var copiedEventObject = $.extend({}, originalEventObject);

                // assign it the date that was reported
                copiedEventObject.start = date;
                copiedEventObject.allDay = allDay;

                // render the event on the calendar
                // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

                // is the "remove after drop" checkbox checked?
                if ($('#drop-remove').is(':checked')) {
                    // if so, remove the element from the "Draggable Events" list
                    $(this).remove();
                }

            },


            events: [
                // {
                //     title: 'All Day Event',
                //     start: new Date(y, m, 1)
                // },
                // {
                //     id: 999,
                //     title: 'Repeating Event',
                //     start: new Date(y, m, d+4, 16, 0),
                //     allDay: false,
                //     className: 'info'
                // },
                // {
                //     title: 'Lunch',
                //     start: new Date(y, m, d, 12, 0),
                //     end: new Date(y, m, d, 14, 0),
                //     allDay: false,
                //     className: 'important'
                // },
                {% for schedule in schedules%}
                    {
                    id : '{{schedule.title}}',
                    title: '{{schedule.title}} ({{schedule.used_session}}/{{schedule.registered_session}})',
                    start: new Date({{schedule.get_year}},{{schedule.get_month}},{{schedule.get_day}},{{schedule.get_hour}}+9,{{schedule.get_minute}}),//db에있는게 9시간 느리게 넘어와서  hour +9해줘야 제대로 적용됨.
                    end: new Date({{schedule.get_year}},{{schedule.get_month}},{{schedule.get_day}},{{schedule.get_hour}}+10,{{schedule.get_minute}}),//1시간 단위이므로 end는 +10

                    allDay: false,
                    className: 'success',
                    url: "{% url 'schedule_delete' schedule.id %}"
                    },
                {% endfor %}
                //OT 스케줄
                {% for OT_schedule in OT_schedules %}
                    {
                    id : '{{OT_schedule.title}}',
                    title: '{{OT_schedule.title}} ({{OT_schedule.OT_used_session}}/2)',
                    start: new Date({{OT_schedule.get_year}},{{OT_schedule.get_month}},{{OT_schedule.get_day}},{{OT_schedule.get_hour}}+9,{{schedule.get_minute}}),//db에있는게 9시간 느리게 넘어와서  hour +9해줘야 제대로 적용됨.
                    end: new Date({{OT_schedule.get_year}},{{OT_schedule.get_month}},{{OT_schedule.get_day}},{{OT_schedule.get_hour}}+10,{{schedule.get_minute}}),//1시간 단위이므로 end는 +10

                    allDay: false,
                    className: 'info',
                    url: "{% url 'schedule_delete' OT_schedule.id %}"
                    },
                {% endfor %}
            ],
        });

});

</script>
<style>

    /*body {
        margin-top: 40px;
        text-align: center;
        font-size: 14px;
        font-family: "Helvetica Nueue",Arial,Verdana,sans-serif;
        background-color: #DDDDDD;
        }*/

    #wrap {
        width: 950px;
        /*margin: 0 auto;*/
        margin-bottom: 50px;
        }

    #external-events {
        float: left;
        width: 150px;
        padding: 0 10px;
        text-align: left;
        }

    #external-events h4 {
        font-size: 16px;
        margin-top: 0;
        padding-top: 1em;
        }

    .external-event { /* try to mimick the look of a real event */
        margin: 10px 0;
        padding: 2px 4px;
        background: #3366CC;
        color: #fff;
        font-size: .85em;
        cursor: pointer;
        }

    #external-events p {
        margin: 1.5em 0;
        font-size: 11px;
        color: #666;
        }

    #external-events p input {
        margin: 0;
        vertical-align: middle;
        }

    #calendar {
/*      float: right; */
        margin: 0 auto;
        width: 900px;
        background-color: #FFFFFF;
        border-radius: 6px;
        box-shadow: 0 1px 2px #C3C3C3;
        }


</style>
</head>
<body>
<div id='wrap' class="col-xs-7" style="display: inline;">

<div id='calendar' class="col-xs-7" style="display: inline;"></div>

</div>
    <div class="text-center col-xs-3" style=" float:left; display: inline;">
        <div>
            {% if request.user or staff|has_group:"Pilates" %}
             <a class="GX btn btn-default">GX</a>
            {% else %}
            {% endif %}
        </div>

        <div id="search" style="margin:0 auto;">
            <form id="search" method="GET" action="{% url 'ot_member_search' %}">
                <input type="text" class="q form-control search_web" placeholder="이름,휴대번호로 검색해보세요." name='q' value="{{ q }}" style="display:inline-block; width:70%">
                <button type="submit" class="btn btn-info" value="검색" >검색</button>
            </form>
        </div>
        <table class="table table-striped">
            <thead>
                <th>성명</th>
                <th>성별</th>
                <th>생년월일</th>
                <th>OT 횟수</th>
                <th>OT</th>
            </thead>
            <tbody>
            {% for member in search_member %}
            <tr>
                <td>{{ member.name }}</td>
                <td>{{ member.sex }}</td>
                <td>{{ member.birth }}</td>
                <td>{{ member.OT_used_session }}회</td>
                <td><a id="{{member.id}}" class="OT btn btn-danger" name="{{member.name}}(OT)">OT</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <hr/>
        {% if request.user|has_group:"Fitness" %}
        <div style="border:1px solid black; float: right;">
            <h4>나의 PT 회원</h4>
            {{PT_members.count}}명
            <div class="my_PTmember" style="text-align: center;">
                {% for PT_member in PT_members %}
                <div class="per_PTmember" style="float:left;">
                    <a id="{{PT_member.id}}" class='SV btn btn-default' name="{{PT_member.name}}(SV)" style="float:left;">S/V</a>
                    <div id="{{PT_member.id}}"  class="PT_member" style="display:inline-block; margin: 0 5px; float:left;">
                        <span name="PT_member_name">{{PT_member.name}}</span>
                        {%if PT_member.re_registered %} <!--재등록여부가 true면-->
                        <p><span id="used_session{{PT_member.id}}">{{PT_member.used_session}}</span>/{{PT_member.registered_session}}+재</p>
                        {% else %} <!--재등록여부가 false면-->
                        <p><span id="used_session{{PT_member.id}}">{{PT_member.used_session}}</span>/{{PT_member.registered_session}}</p>
                        {% endif %}
                    </div>
                    <a class='btn btn-info' href="{% url "PT_member_detail" PT_member.id %}" style="float:left;">상세정보</a>
                    <a class='btn btn-info' href="{% url "PT_member_session_end" PT_member.id %}" style="float:left;">세션 종료</a>
                    <div style="display:inline-block; float:left;">
                        <form method="GET" action="">
                        <a class="btn btn-default" href="{% url "PT_member_delete" PT_member.id %}">삭제</a>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- 필라테스 -->
        {% elif request.user or staff|has_group:"Pilates" %}
            <div style="border:1px solid black; float: right;">
            <h4>나의 Pilates 회원</h4>
            {{Pil_members.count}}명
            <div class="my_PTmember" style="text-align: center;">
                {% for PT_member in Pil_members %}
                <div class="per_PTmember" style="float:left;">
                    <a id="{{PT_member.id}}" class='SV btn btn-default' name="{{PT_member.name}}(SV)" style="float:left;">S/V</a>
                    <div id="{{PT_member.id}}"  class="PT_member" style="display:inline-block; margin: 0 5px; float:left;">
                        <span name="PT_member_name">{{PT_member.name}}</span>
                        {%if PT_member.Pil_re_registered %} <!--재등록여부가 true면-->
                        <p><span id="used_session{{PT_member.id}}">{{PT_member.Pil_used_session}}</span>/{{PT_member.Pil_registered_session}}+재</p>
                        {% else %} <!--재등록여부가 false면-->
                        <p><span id="used_session{{PT_member.id}}">{{PT_member.Pil_used_session}}</span>/{{PT_member.Pil_registered_session}}</p>
                        {% endif %}
                    </div>
                    <a class='btn btn-info' href="{% url "PT_member_detail" PT_member.id %}" style="float:left;">상세정보</a>
                    <a class='btn btn-info' href="{% url "PT_member_session_end" PT_member.id %}" style="float:left;">세션 종료</a>
                    <div style="display:inline-block; float:left;">
                        <form method="GET" action="">
                        <a class="btn btn-default" href="{% url "PT_member_delete" PT_member.id %}">삭제</a>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        {% endif %}

        <hr/>

        <p><a href="{% url 'PT_register' %}" class="btn btn-warning" style="margin-top: 15px;">추가</a></p>

    </div>

        <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">회원 검색</h4>
              </div>
              <div class="modal-body">
                <div id="search" style="margin:0 auto;">
                    <form id="search" method="GET" action="{% url 'ot_member_search' %}">
                        <input type="text" class="form-control search_web" placeholder="이름,휴대번호로 검색해보세요." name='q' value="{{ q }}" style="display:inline-block; width:70%">
                        <button type="submit" class="btn btn-info" value="검색" >검색</button>
                    </form>
                </div>
                <table class="table table-striped col-sm-8 col-sm-offset-2" style="width:60%; margin-top:30px;">
                        <th>성명</th>
                        <th>성별</th>
                        <th>생년월일</th>
                        <th>PT 등록횟수</th>
                    </thead>
                    <tbody>
                    {% for member in search_member %}
                    <tr>
                        <td>{{ member.name }}</td>
                        <td>{{ member.sex }}</td>
                        <td>{{ member.birth }}</td>
                        <td>{{ member.registered_session }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
              </div>
            </div>
          </div>
        </div>

<script type="text/javascript">
    $('.ot_member_search').click(function(){
        q = $('.q').val()  // input값의 name의 값을 가져온다.
        alert(q)
        $.ajax({
            url: "{% url 'ot_member_search' %}", // 통신할 url을 지정한다.
            data: { 'q':q,}, // 서버로 데이터를 전송할 때 이 옵션을 사용한다.
            // dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정한다. 없으면 알아서 판단한다.

            success: function(response){
                // 요청이 성공했을 경우 좋아요/싫어요 개수 레이블 업데이트
                alert("성공")
            },
            error:function(error){
                // 요청이 실패했을 경우
                alert(error+"SF")
            }
        });
    })

</script> -->
{% endblock %}