a, a:hover, a:active, a:focus, button:focus {
        outline: 0;
        border: 0;
        text-decoration: none;
    }

    .navbar{
        background-color: pink;
        border-bottom: 1px solid #f0f0f0;
    }
    .st-navbar{
        background-color: #fff;
        border-bottom: 1px solid #f0f0f0;
    }

    .st-navbar ul{
        margin-top: 15px;
    }

    .st-navbar ul li a{
        text-transform: uppercase;
        font-weight: 600;
        padding: 0;
        margin: 14px;
    }

    .st-navbar ul li a:hover,
    .st-navbar ul li a:focus {
        background-color: transparent;
        color: #000;
    }

.header{
     padding:2px;
     border-bottom:2px solid green;
}
.my-control{
    display: inline-block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.member_rule{
    overflow: auto;
    height:250px;
    padding-left:25px;
    border:1px solid black;
}

#search {
    max-width:600px;
    border-radius: 5px;
    text-align: left;
    margin-top:7px;
}

#search button.btn.btn-info {
    display: inline;
    background-color: blue;
    /*border-radius: 0 5px 5px 0;*/
}

.schedule-table{
    width:100%;
    border-collapse: collapse;
}

.schedule-table tr{
    height: 50px;
}
.schedule-table tbody tr td
{
     border-left:1px solid gray;
}
.schedule-table tbody tr td:first-child
.schedule-table tbody tr th:first-child,{
    width: 10px;
}

#home{
    background-image: url(../img/home.jpg);
    height:1000px;
    width: auto;
    background-size:cover;
    margin-top:-15px;
}
.home,
.home_name{
    color:black;
    text-shadow: 2px 2px 2px gray;
    padding-left: 660px;
}

.home{
    padding-top:100px;
}

.table th{
    text-align: center;
}

.btn-whatever{
    background-color: gray;
    color:white;
}